body{
    background-color: black;
}
div{
    color: white;
    width: 1450px;
    display: flex;
    justify-content: center;
    font-style: italic;
}

div#tkk{
    width: 1450px;
    height: 200px;
    
}

div#img{
    width: 300px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}